/*********/
/*GENERAL*/
/*********/

body{
	font-family: 'Roboto', sans-serif;
	color: var(--secondary-color);
	min-width: 300px;
	margin: 0px;
	overflow-x: hidden;
}

h1 {
	font-size: 48px;
	font-weight: 700;
	text-align: center;
	width: 90%;
    margin: 20px auto;
	margin-bottom: 70px;
}
h2 {
	font-size: 48px;
	font-weight: 700;
	text-align: center;
	width: 90%;
    margin: 20px auto;
	margin-bottom: 70px;
}

p{
	margin: 0px;
	padding: 0px;
}

header p{
	font-size: 1.6rem;
}

main p{
	font-size: 1.6rem;
}

a{
	text-decoration: none;
	color: initial;
}

a:hover{
	text-decoration: none;
	color: initial;
}

.p1{
	font-weight: 400;
	font-size: 25px;
	margin-bottom: 60px;
}

.p1 p{
	padding: 0 0 0 20px;
    border-left: 2px solid;
}

.title p{
	font-size: 2.6rem;
	font-weight: 500;
	margin-bottom: 20px;
}


/*maxwidth + centering*/
.limitedWidthBlockContainer{
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-bottom: 10vh;
}

.marge {
    width: 100vw;
    position: relative;
    top: -15px;
}

/*.arrondi{
	border-radius: 20px;
}*/

.display{
	display: flex;
	margin: auto;
	justify-content: space-around;
}

.centre{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.limitedWidthBlock {
	width: 90%;
    padding: 0% 4.2%;
    background-color: var(--text-color);
    text-align: center;
}

/*#services{
	width: 90%;
	padding: 3% 5%;
}*/

/*Colors*/
:root {
	--secondary-color: #244657ff;
	--main-color: #2576DB;
	--text-color: #ffffff;
	--footer-text-color: #a6b0b3; 
	--footer-main-color: #3d424f; 
	--footer-secondary-color: #2d2f3e;
}


/********/
/*Header*/
/********/

header{
	position: fixed;
    width: 100vw;
    background-color: var(--secondary-color);
    z-index: 10;
    color: var(--text-color);
}

/*menu*/

.topnav{
	display: none;
}

.limitedWidthBlockContainerMenu{
	background-color: var(--secondary-color);
	color: var(--text-color);
	display: flex;
	justify-content: space-between;
	margin: 0vw 1vw;
}

.limitedWidthBlockMenu{
	width: 100vw;
    display: flex;
    padding: 0% 2%;
	align-items: center;
}

.menu{
	height: 80px;
}


.menu a {
	display: flex;
	align-items: center;
	text-decoration: none;
	height: 80px;
}


.menu nav {
	display: flex;
	padding-left: 2%;
}


.menu nav ul {
	display: flex;
	margin: 0;
	padding: 0;
}
.menu li {
	list-style: none;
	font-size: 14px;
}
.menu nav ul a{
	border-bottom: 4px solid transparent;
	margin: 0px 10px;
}

.menu nav ul a:hover {
	border-bottom: 4px solid var(--text-color);
}

header li, header p, header a{
	color: var(--text-color);
}

#tel:hover{
	border: transparent;
	font-size: 150%;
}

.tel {
    position: absolute;
    right: 50px;
}

/*logo*/

.logo {
	height: 100px;
	font-size: 40px;
	text-align: right;
	line-height: 20px;
	display: flex;
	align-items:center ;
	font-family: 'Times New Roman', Times, serif;
}

.logo p{
	font-size: 25px;
	font-family: 'Times New Roman', Times, serif;
}

.sous_h1{
    font-size: 12px;
    display: flex;
    justify-content: flex-end;
	font-family: 'Times New Roman', Times, serif;
}





/******/
/*Main*/
/******/

main {
	background-color: var(--text-color);
	font-family: 'Roboto', sans-serif;
}

/*banniere*/
.banniere {
	width: 80%;
    height: 100vh;
    display: flex;
    background-image: url(../images/banniere.jpg);
	background-size: cover;
    color: var(--secondary-color);
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    text-align: center;
    padding: 0% 10%;
	background-position: bottom;
	overflow-x: hidden;
	margin-bottom: -20px;
}

.banniere_text {
	text-align: left;
    color: var(--secondary-color);
    width: 80%;
	margin: 0% 20% 0% 0%;
}



/*cercle*/

.id_conteneur{
	margin: 5vw 0vw;
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.id_conteneur p{
	font-size: 50px;
}

#conteneur{
    width: 20vw;
    height: 20vw;
    background-color: transparent;
    border-radius: 50%;
    border: 2px solid var(--footer-text-color);
    position: relative;
}

.sous_conteneur{
	width: 25%;
}

.sous_conteneur p{
	text-align: left;
	font-size: 20px;
}

.cercle{
    border-radius: 50%;
    width: 8vw;
    height: 8vw;
    position: absolute;
    border: solid 10px rgba(255, 255, 255, .5);
    transform: translate(-5vw, -5vw);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
	color: var(--text-color);
}

/*animation cercle qui tourne*/

#conteneur{
	animation: headshake 10s infinite cubic-bezier(0,.5,.1,1);
}

#conteneur p{
	animation: i_headshake 10s infinite cubic-bezier(0,.5,.1,1);
}

@keyframes headshake {
	0%, 100%{
		transform: rotate(0deg);
	}
    20%{
        transform: rotate(72deg);
    }
    40%{
        transform: rotate(144deg);
    }
    60%{
        transform: rotate(216deg);
    }
    80%{
        transform: rotate(288deg);
    }
    99%{
    	transform: rotate(360deg);
    }
}

@keyframes i_headshake {
    0%, 100%{
		transform: rotate(0deg);
	}
	20%{
        transform: rotate(-72deg);
    }
    40%{
        transform: rotate(-144deg);
    }
    60%{
        transform: rotate(-216deg);
    }
    80%{
        transform: rotate(-288deg);
    }
    99%{
		transform: rotate(-360deg);
	}
}

/*items*/
.white{
	background-color: var(--text-color);
	color: var(--secondary-color);
}


.items {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	font-size: 20px;
	width: 100%;
}

.items a:hover{
	box-shadow: rgba(36, 70, 87, 0.7) 6px 6px 3px 0px;
}

.items_e {
	margin: 5% 2%;
    justify-content: space-between;
    flex-wrap: wrap;
    display: flex;
    font-size: 20px;
    flex-direction: column;
    align-items: flex-start;
}


.items a{
	background-color: var(--secondary-color);
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 40px;
	padding: 10px;
	padding-top: 25px;
	width: 21%;
	/*border-radius: 10px;*/
}
.items a img {
	width: 100%;
	height: 160px;
	object-fit: cover;
	/*border-radius: 10px;*/
}

.items .degrade{
	width: 100%;
}

.items a h3 {
	font-size: 22px;
	font-weight: 700;
	text-align: center;
	color: var(--text-color);
	width: 95%;
}
.items a p {
	text-align: center;
	padding-left: 23px;
	padding-right: 23px;
	box-sizing: border-box;
	overflow: hidden;
	text-overflow: ellipsis;
	color: var(--text-color);
	display: -webkit-box;
	-webkit-line-clamp: 5;
	-webkit-box-orient: vertical;
	white-space: normal;
	font-size: 15px;
	width: 95%;
}

.i_p{
	display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    text-shadow: 0px 0px 10px red;
}

.i_p i {
    font-size: 50px;
    margin: 10px;
}

.ul_li{
	display: flex;
	justify-content: center;
}

.ul_li ul{
	width: 40%;
}

.pack{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	align-items: center;
	min-height: 600px;
}

.pack h2:hover{
	text-shadow:1px 0 5px rgba(0, 18, 206, 0.8);
}

.pack_img{
	width: 40%;
}

.pack_img img{
	width: 100%;
	margin: auto;
}


.pack_text{
	display: flex;
	flex-direction: column;
	width: 40%;
}

.text_trait {
    display: flex;
}

.trait_check {
    display: flex;
    flex-direction: column;
    margin: 0px 50px;
}

i.fa-solid.fa-circle-check {
    font-size: 50px;
}

.trait_check i.fa-solid.fa-minus {
    font-size: 50px;
    transform: rotate(90deg);
    position: relative;
    top: -15px;
}

/*formulaire*/

.cart__order__form__question {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

.cart__order__form__question input{
    border-radius: 13px;
    border: 0;
    height: 26px;
    margin-top: 4px;
}

.cart__order__form__question textarea {
    border-radius: 13px;
    border: 0;
    margin-top: 4px;
    height: 70px;
}

.cart__order__form__question p {
    margin: 0;
    color: #fbbcbc;
    font-size: 15px;
    margin-left: 8px;
}

form.cart__order__form {
    width: 60%;
}


/*maison*/

.center {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  height: 100%;
  width: 70%;
  position: relative;
}
svg {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  /*padding: 10px;*/
}

.plus{
	height: 40px;
    display: flex;
    width: 40px;
    position: absolute;
    background-color: white;
    font-size: 30px;
    border-radius: 50%;
    z-index: 1;
    align-items: center;
    justify-content: center;
	border: 2px solid;
}

#plus1 {
    left: 50%;
    top: 80%;
}

#plus2 {
    left: 23%;
    top: 80%;
}

#plus3 {
    left: 77%;
    top: 80%;
}

#plus4 {
    left: 80%;
    top: 53%;
}

.plus:hover{
	background-color: var(--secondary-color);
	color: white;
}


/******/
/*pack*/
/******/


.item {
    margin: 135px 0;
    display: flex;
    justify-content: center;
}

.item a {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.item__img {
    width: 100%;
}

.item__img img {
    width: 100%;
    /*border-radius: 15px;*/
}

.item__content {
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item__content__titlePrice, .item__content__description, .item__content__settings {
    border-bottom: 1px solid white;
}

.item__content h1 {
    text-align: left;
    font-size: 48px;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 0;
}

.item__content__description {
    display: flex;
    flex-direction: row;
	height: 70px;
}

.item__content__description__title {
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 0;
}

.blue{
	background-color: var(--secondary-color);
	color: var(--text-color);
	margin-bottom: 40px;
}

/*chiffres*/

.block_block{
	display: flex;
    flex-wrap: wrap;
    flex-direction: row;
	align-content: space-around;
	padding: 0 15px;
	align-items: stretch;
}

.block_chiffres{
	display: flex;
    flex-wrap: wrap;
	width: 60%;
}

.presentation{
	display: flex;
    flex-wrap: wrap;
	width: 30%;
	align-content: space-between;
	text-align: left;
}

.presentation h3{
	margin: 0px;
}

.presentation .rond {
    background-color: var(--secondary-color);
    border-radius: 50px;
    min-width: 60px;
    max-height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-right: 20px;
}

.rond_texte{
	display: flex;
    flex-direction: column;
    justify-content: center;
	height: 60px;
    justify-content: center;
}

.contract .rond p{
	font-family: 'Times New Roman', Times, serif;
	font-size: 15px;
}
.chiffres {
    width: 27%;
	margin-bottom: 20px;
	padding: 0;
}

.chiffres i {
    font-size: 50px;
}

.chiffres h3 {
    font-size: 1.6rem;
}

.chiffres p {
    font-size: 15px;
}


/*France*/

.france{
	width: 30%;
	padding: 0;
}

.france img{
	width: 90%;
}

.france p {
    font-style: oblique;
    font-size: 15px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.ileDeFrance{
	position:relative;
	top:180px;
	left:200px;
}

.p_france{
	display: flex;
    align-items: flex-end;
}

.p_france i {
    font-size: 50px;
    margin-left: 10px;
}

.p_france p{
	text-align: left;
    margin-left: 10px;
	font-size: 25px;
}

/*depannage*/
#salleDeBain{
	display: none;
}

#salon{
	display: none;
}

#cuisine{
	display: none;
}

#buanderie{
	display: none;
}

.piece{
	height: 130vh;
	width: 100vw;
	align-items: center;
	justify-content: center;
	position: absolute;
}

#fermeture{
	text-align: end;
}

#fermeture:hover{
	font-size: 150%;
}

.bloc {
	max-height: calc(80vh - 100px);
    max-width: calc(80vw - 100px);
    display: flex;
    flex-direction: column;
    border: 2px solid;
    background-color: white;
    z-index: 100;
}

.bloc p {
    font-size: 1rem;
}

.bloc, .bloc2{
overflow-y: auto;
overflow-x: hidden;
padding: 20px;  
}

.bloc1 {
display: flex;
flex-direction: column;
align-content: center;
justify-content: center;
align-items: flex-start;
box-shadow: 0 0 25px 0 rgb(0 0 0 / 10%);
padding: 20px;
margin-bottom: 20px;
}

.titre{
	flex: 1 0 auto;
	align-items: center;
	margin-bottom: 20px;
	padding: 0 20px;
	display: flex;

}

.titre div{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	width: 100%;
}

.bloc h2{
	color: #007acd;
	text-align: left;
	margin: 20px 0px;
}

.titre div p{
	display: flex;
	align-items: center;
	margin-bottom: 30px;
}

.titre img{
	width: 200px;
	height: 200px;
	order: -1;
	margin-right: 50px;
	flex: 0 0 205px;
}


/*page contract*/

.contract h2{
	font-size: xx-large;
}

.contract p{
	color: var(--secondary-color);
	font-size: larger;
}

.sous_contract {
	width: 100%;
    height: 60vh;
    display: flex;
    background-size: cover;
    background-position: center;
    color: var(--text-color);
    justify-content: flex-end;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    text-align: center;
	margin-bottom: 1vh;
}

.particulier{
	background-image: url(../images/2.png);
}

.profesionnel{
	background-image: url(../images/3.png);
}

.gestionnaire{
	background-image: url(../images/4.png);
}

.particulier_texte {
	text-align: left;
    width: 100%;
	background-color: rgb(0,0,0,0.3);
}

.particulier_texte h1{
	text-align: left;
}

#description {
    text-align: left;
    line-height: 120%;
    font-size: large;
    display: flex;
    align-items: center;
	min-width: 80%;
	height: 100px;
}

.item_rond{
	border: 4px dotted transparent;
    border-left-color: #007acd;
    transform: translate(-5px,20px);
	border-radius: 40px;
	display: flex;
	flex-direction: column;
	height: 100%;
	padding: 0px 20px;
}

.process{
	margin: 0% auto;
    /**/
}

.bloc_texte{
	width: 50%;
    max-width: 550px;
}

.contract .rond {
    background-color: #007acd;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -30px;
    position: relative;
    border: 2px solid #fff;
    box-shadow: 3px 1px 0 0 #007acd;
}

.contract .rond p {
	color: var(--text-color);
}

.item__content__description{
	align-items: flex-end;
}

.contract .limitedWidthBlockContainer{
	flex-direction: row;
	align-items: flex-end;
}

.contract img{
	width: 300px;
    height: 300px;
}

/*#description:before {
    content: " ";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 50px;
    border-radius: 50%;
    
}

#description::after{
	content: counter(nbrStep);
	counter-increment: nbrStep;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 2px solid #fff;
	text-align: center;
	font-size: 2.1rem;
	font-weight: 700;
	color: #fff;
	line-height: 1;
	box-shadow: 3px 1px 0 0 #007acd;
	position: absolute;
	top: 0;
	left: 0;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #007acd;
}*/
/********/
/*Footer*/
/********/

footer {
	color: var(--footer-text-color);
    display: flex;
    flex-direction: column;
    font-size: 14px;
	position: relative;
}

footer .footerMain,
footer .footerSecondary {
	width: 100%;
}

/*footerMain*/
.footerMain {
	background-color: var(--footer-main-color);
	padding: 50px 0;
	display: flex;
    justify-content: center;
}
.footerMain .footer_sous {
	display: flex;
    justify-content: space-between;
	width: 100%;
    max-width: 1400px;
    padding: 0 25px;
}

.footer_sous-div{
	width: 100%;
    max-width: 1400px;
    padding: 0 25px;
}

.footerMain .footer_sous div {
	display: flex;
	align-items: center;
}

/*footerSecondary*/

.footerSecondary {
    background-color: var(--footer-secondary-color);
    padding: 25px 0;
}



/***************/
/*Media queries*/
/***************/

@media (max-width: 991.98px) {
	.items a{
		width: 42%;
	}
	.footerMain .limitedWidthBlock {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.footerSecondary .limitedWidthBlock p {
		text-align: center;
	}

	.pack {
		min-height: 300px;
		padding: 10px;
	}

	.item{
		margin: 40px 0px;
	}

	.item a {
		width: 90%;
	}

	.banniere_text {
		width: 90%;
	}

	.menu li {
		margin-left: 15px;
		font-size: 12px;
		width: 100px;
	}

	#tel{
		display: none;
	}
}

@media (max-width: 740px) { 
	html,body  
	{  
	overflow-x:hidden;  
	}  

	main{
		overflow-x: hidden;
	}
	.title p{
		font-size: 1.8rem;
	}

	.p1 p{
		font-size: 1.4rem;
	}

	.topnav{
		display: block;
	}

	.topnav {
		overflow: hidden;
		position: relative;
		display: block;
		width: 100%;
		height: 100%;
	}
	
	.topnav #myLinks {
		display: none;
		position: relative;
		z-index: 1000;
		width: 100%;
		list-style: none;
		line-height: 40px;
		padding: 0% 2%;
	}
	
	.topnav a {
		color: var(--text-color);
		padding: 5px;
		text-decoration: none;
		font-size: 17px;
		display: flex;
		width: 90%;
		border-bottom: 2px solid;
	}
	
	.topnav .icon {
		display: block;
		position: fixed;
		color: white;
		top: 1.5vh;
		font-size: 40px;
		width: 95%;
		text-align: right;
	}
	
	.topnav a:hover{
		color: white;
	}
	
	.active {
		background-color: transparent;
		color: white;
	}
	
	.menu nav {
		display: none;
	}

	.block_block{
		flex-direction: column;
	}

	.block_chiffres{
		width: 100%;
		padding: 0px;
	}

	.chiffres {
		width: 90%;
		padding: 10%;
		margin: 10px;
	}

	.france {
		width: 88%;
		padding: 0 10%;
	}

	.p_france{
		margin-bottom: 40px;
	}

	.id_conteneur{
		width: 100%;
		flex-direction: column;
	}

	#conteneur{
		width: 50vw;
    	height: 50vw;
    	margin: 50px;
	}

	.sous_conteneur {
	    width: 90%;
		margin-bottom: 5vh;
	}

	.cercle{
		width: 20vw;
	    height: 20vw;
	    transform: translate(-10vw, -10vw);
	}

	.presentation{
		width: 60%;
	}
}

@media (max-width: 575.98px) { 
	h1{
		font-size: 35px;
	}

	h2{
		font-size: 30px;
	}

	.menu nav ul {
		padding: 0;
		line-height: 10px;
	}
	.menu nav ul li{
		margin-left: 20px;
	}
	.menu nav ul a:first-child li {
		margin-left: 0;
	}
	.items a {
		width: 75%;
	}

	.ul_li{
		flex-direction: column;
	}

	.ul_li ul{
		width: 80%;
	}

	.pack_img, .pack_text {
	    width: 100%;
	}

	.pack{
		min-height: 100px;
	}

	.plus{
		width: 20px;
		height: 20px;
	}

	.presentation{
		width: 80%;
		margin-bottom: 40px;
	}

	.titre{
		padding: 0;
		flex-wrap: wrap;
	}

	.bloc {
		max-height: calc(100vh - 100px);
		max-width: calc(100vw - 100px);
	}

	.titre div p{
		margin-bottom: 0px;
		font-size: 1.3rem;
	}
}